main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}
main .pos-right img {
    max-width: 100%;
    height: auto;
}
main figure {
    flex: 1 1 100%;
    max-width: none; 
    margin: 0;
}

main figure video {
    width: 100vw; 
    height: auto;
}

table {
    flex: 1 1 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table thead,
table tfoot {
    background-color: #B1D4FD;
}

table tbody tr:nth-child(odd) {
    background-color: #DAE8F8;
}

table th, 
table td {
    border: 1px solid #ccc;
    padding: 5px;
    text-align: left;
}

@media (max-width: 768px) {
    main {
        flex-direction: column;
    }
    .sidebar {
        order: 2;
    }
}